<!DOCTYPE html>
<html lang="en">

<head>
   <!-- import icons -->
   <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
   <style>
     .material-symbols-outlined {
       font-variation-settings:
       'FILL' 0,
       'wght' 400,
       'GRAD' 0,
       'opsz' 48
     }
     </style>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Skydash Admin</title>
  <!-- plugins:css -->
  <link rel="stylesheet" href="../../vendors/feather/feather.css">
  <link rel="stylesheet" href="../../vendors/ti-icons/css/themify-icons.css">
  <link rel="stylesheet" href="../../vendors/css/vendor.bundle.base.css">
  <!-- endinject -->
  <!-- Plugin css for this page -->
  <link rel="stylesheet" href="../../vendors/select2/select2.min.css">
  <link rel="stylesheet" href="../../vendors/select2-bootstrap-theme/select2-bootstrap.min.css">
  <!-- End plugin css for this page -->
  <!-- inject:css -->
  <link rel="stylesheet" href="../../css/vertical-layout-light/style.css">
  <!-- endinject -->
  <link rel="shortcut icon" href="../../images/favicon.png" />
</head>

<body>
  <div class="container-scroller">
    <!-- partial:../../partials/_navbar.html -->
    <nav class="navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
      <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-center">
        <a class="navbar-brand brand-logo mr-5" href="index.html"><img src="../../images/logo.png" width="300px" height="100px !important" class="mr-2" alt="logo"/></a>
        
      </div>
      <div class="navbar-menu-wrapper d-flex align-items-center justify-content-end">
        <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-toggle="minimize">
          <span class="icon-menu"></span>
        </button>
        <ul class="navbar-nav mr-lg-2">
          
        </ul>
     
        <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="offcanvas">
          <span class="icon-menu"></span>
        </button>
      </div>
    </nav>
    <!-- partial -->
    <div class="container-fluid page-body-wrapper">
      <!-- partial:../../partials/_settings-panel.html -->
      <div class="theme-setting-wrapper">
        <div id="settings-trigger"><i class="ti-settings"></i></div>
        <div id="theme-settings" class="settings-panel">
          <i class="settings-close ti-close"></i>
          <p class="settings-heading">SIDEBAR SKINS</p>
          <div class="sidebar-bg-options selected" id="sidebar-light-theme"><div class="img-ss rounded-circle bg-light border mr-3"></div>Light</div>
          <div class="sidebar-bg-options" id="sidebar-dark-theme"><div class="img-ss rounded-circle bg-dark border mr-3"></div>Dark</div>
          <p class="settings-heading mt-2">HEADER SKINS</p>
          <div class="color-tiles mx-0 px-4">
            <div class="tiles success"></div>
            <div class="tiles warning"></div>
            <div class="tiles danger"></div>
            <div class="tiles info"></div>
            <div class="tiles dark"></div>
            <div class="tiles default"></div>
          </div>
        </div>
      </div>
     
      <nav  class="sidebar sidebar-offcanvas" id="sidebar">
        <ul class="nav">
          <li class="nav-item">
            <a class="nav-link" href="index.html">
              <i class="icon-grid menu-icon"></i>
              <span class="menu-title">Dashboard</span>
            </a>
     
          <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#job-iterview" aria-expanded="false" aria-controls="job-iterview">
              <span class="material-symbols-outlined">
                person
                </span>
              <span class="menu-title pl-2"> Users</span>
              <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="job-iterview">
              <ul class="nav flex-column sub-menu">
                <li class="nav-item"> <a class="nav-link" href="./UsersList.html">users list</a></li>
                <li class="nav-item"> <a class="nav-link" href="./addUser.html">Add user</a></li>
              </ul>
            </div>
          </li>
  
          <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#charts" aria-expanded="false" aria-controls="charts">
              <i class="icon-bar-graph menu-icon"></i>
              <span class="menu-title">  Feedbacks</span>
              <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="charts">
              <ul class="nav flex-column sub-menu">
                <li class="nav-item"> <a class="nav-link" href="./feedbacksList.html">feedbacks list</a></li>
                <li class="nav-item"> <a class="nav-link" href="./addfeedback.html">Add feedback</a></li>
              </ul>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#tables" aria-expanded="false" aria-controls="tables">
              <span class="material-symbols-outlined">
                question_mark
                </span>
              <span class="menu-title pl-2">Questions</span>
              <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="tables">
              <ul class="nav flex-column sub-menu">
                <li class="nav-item"> <a class="nav-link" href="./questionsList.html">Questions list</a></li>
                <li class="nav-item"> <a class="nav-link" href="./addQuestion.html">Add Question</a></li>
              </ul>
            </div>
          </li>
   
          <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#Skills" aria-expanded="false" aria-controls="Skills">
              <span class="material-symbols-outlined">
                psychology
                </span>
              <span class="menu-title pl-2">Skills</span>
              <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="Skills">
              <ul class="nav flex-column sub-menu">
                <li class="nav-item"> <a class="nav-link" href="./skillsList.html">skills list</a></li>
                <li class="nav-item"> <a class="nav-link" href="./addSkill.html">Add skills</a></li>

              </ul>
            </div>
            
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#Experience" aria-expanded="false" aria-controls="Experience">
              <span class="material-symbols-outlined">
                business_center
                </span>
              <span class="menu-title pl-2">Experience</span>
              <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="Experience">
              <ul class="nav flex-column sub-menu">
                <li class="nav-item"> <a class="nav-link" href="./experiencesList.html">experience list</a></li>
                <li class="nav-item"> <a class="nav-link" href="./addExperience.html">Add experience</a></li>

              </ul>
            </div>
            
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#policie" aria-expanded="false" aria-controls="policie">
              <span class="material-symbols-outlined">
                menu_book
                </span>
              <span class="menu-title pl-2"> Education</span>
              <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="policie">
              <ul class="nav flex-column sub-menu">
                <li class="nav-item"> <a class="nav-link" href="./educationList.html">Education list</a></li>
                <li class="nav-item"> <a class="nav-link" href="./addEducation.html">Add education</a></li>

              </ul>
            </div>
            
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#auth" aria-expanded="false" aria-controls="auth">
              <i class="icon-head menu-icon"></i>
              <span class="menu-title">authentication</span>
              <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="auth">
              <ul class="nav flex-column sub-menu">
                <li class="nav-item"> <a class="nav-link" href="pages/samples/login.html"> Login </a></li>
                <li class="nav-item"> <a class="nav-link" href="pages/samples/register.html"> Register </a></li>
              </ul>
            </div>
          </li>
        
          <li class="nav-item">
            <a class="nav-link" href="pages/documentation/documentation.html">
              <i class="fas fas-sign-out" style="width: 40px; height: 40px; color: black; "></i>
              <span class="menu-title">Logout</span>
            </a>
          </li>
        </ul>
      </nav>
      <!-- partial -->
      <div class="main-panel">        
        <div class="content-wrapper">
          <div class="row">
    
            <div class="col-12 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title">Add Question</h4>
                
                  <form  onsubmit="return false" class="forms-sample">
                    <div class="form-group">
                      <label for="name">User Name</label>
                      <input type="text" class="form-control" id="username" placeholder="Name">
                    </div>
                    <div class="form-group">
                      <label for="question">Quetion</label>
                      <input type="text" class="form-control" id="question" placeholder="add your question">
                    </div>
                    <div class="form-group">
                      <label for="answer">answer</label>
                      <input type="text" class="form-control" id="answer" placeholder=" the answer">
                    </div> 
                   
                    <button onclick="add()" type="submit" class="btn btn-primary mr-2">Submit</button>
                    <button class="btn btn-light">Cancel</button>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- main-panel ends -->
    </div>
    <!-- page-body-wrapper ends -->
  </div>
  <!-- container-scroller -->
  <!-- plugins:js -->
  <script src="../../vendors/js/vendor.bundle.base.js"></script>
  <!-- endinject -->
  <!-- Plugin js for this page -->
  <script src="../../vendors/typeahead.js/typeahead.bundle.min.js"></script>
  <script src="../../vendors/select2/select2.min.js"></script>
  <!-- End plugin js for this page -->
  <!-- inject:js -->
  <script src="../../js/off-canvas.js"></script>
  <script src="../../js/hoverable-collapse.js"></script>
  <script src="../../js/template.js"></script>
  <script src="../../js/settings.js"></script>
  <script src="../../js/todolist.js"></script>
  <!-- endinject -->
  <!-- Custom js for this page-->
  <script src="../../js/file-upload.js"></script>
  <script src="../../js/typeahead.js"></script>
  <script src="../../js/select2.js"></script>
  <!-- End custom js for this page-->
  <script>
    function add(){
      //url to store our client ()
     var url = 'https://olfaresumebuilding.onrender.com/questions' ;
     //store our data in this object 
     var data = {}
     data.username = document.getElementById('username').value;
     data.question = document.getElementById('question').value;
     data.answer = document.getElementById('answer').value;
     

     //convert the object to json
     var json = JSON.stringify(data)
     //start our request
     //post
     var request = new XMLHttpRequest()
     //inilize our request with the 'post' method
      request.open("POST" , url , true)
      request.setRequestHeader("content-type" , "application/json ; charset=utf-8")
      request.onload = function(){
        var questions = JSON.parse(request.responseText)
        if(request.status =="200" && request.readyState == 4){
          alert('question added successfully')
        }
        else{
          alert(questions.message)
        }
      }
      request.send(json)
    }
  </script>
</body>

</html>
