<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View skill </title>
    
</head>
<body>
    <b id="username"></b> <br>
    <b id="skill"></b>
    <script>
        // 
        url_href = window.location.href
        var url = new URL(url_href)
        var ID = url.searchParams.get("id")
        var newUrl = "http://127.0.0.1:3000/skills/" +ID
        request = new XMLHttpRequest()
        request.open("Get" , newUrl , true)
        request.onload = function (){
            var skills = JSON.parse(request.responseText)
            if(request.readyState == 4 && request.status == "200"){
                document.getElementById("username").innerHTML = "user Name : " + skills.username
                document.getElementById("skill").innerHTML = "user email : " + skills.skill
            }
            else{
                console.log('error')
            }
        }
        request.send(null)
    </script>
</body>
</html>