<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Experience </title>
    
</head>
<body>
    <b id="username"></b> <br>
    <b id="experience"></b>
    <script>
        // 
        url_href = window.location.href
        var url = new URL(url_href)
        var ID = url.searchParams.get("id")
        var newUrl = "https://olfaresumebuilding.onrender.com/experiences/" +ID
        request = new XMLHttpRequest()
        request.open("Get" , newUrl , true)
        request.onload = function (){
            var experiences = JSON.parse(request.responseText)
            if(request.readyState == 4 && request.status == "200"){
                document.getElementById("username").innerHTML = "user Name : " + experiences.username
                document.getElementById("experience").innerHTML = "user email : " + experiences.experience
            }
            else{
                console.log('error')
            }
        }
        request.send(null)
    </script>
</body>
</html>